/* Fonts */
@font-face {
    font-family: 'Roca One';
    src: url('../fonts/RocaOne-Th.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Roca One';
    src: url('../fonts/RocaOne-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Archivo';
    src: url('../fonts/Archivo-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Archivo';
    src: url('../fonts/Archivo-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

/* COLORS */
:root {
    /* Primary */
    --color-orange: #E84231;
    --color-pink: #FAD1D7;
    --color-green: #005451;

    /* Text */
    --color-text-primary: #1F2937;
    --color-text-secondary: #A0A7A7;
    --color-text-disabled: #CFD3D3;

    /* Card */
    --color-card: #FFFFFF;
    --color-card-border: #d9d9d9;
}

/* SHADOWS */
:root {
  --card-shadow: 0 1px 2px rgba(0, 0, 0, 0.04),
                 0 8px 24px rgba(0, 0, 0, 0.06);
}

/* BACKGROUND */
body {
  background-color: #f8f4ee;

  background-image:
    radial-gradient(
      circle at top left,
      rgba(232, 66, 49, 0.10) 0%,
      transparent 30%
    ),

    radial-gradient(
      circle at bottom right,
      rgba(0, 84, 81, 0.10) 0%,
      transparent 30%
    ),

    linear-gradient(
      180deg,
      #fcfbf8 0%,
      #f5f1ea 100%
    );

  background-attachment: fixed;

  font-family: 'Archivo', sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;

  position: relative;
}

/* noise texture */
body::before {
  content: "";

  position: fixed;
  inset: 0;

  pointer-events: none;
  z-index: -1;

  opacity: 0.035;

  background-image:
  url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='60' height='60' viewBox='0 0 60 60'%3E%3Cg fill='%23000000'%3E%3Ccircle cx='2' cy='3' r='0.6'/%3E%3Ccircle cx='6' cy='10' r='0.6'/%3E%3Ccircle cx='9' cy='18' r='0.6'/%3E%3Ccircle cx='14' cy='6' r='0.6'/%3E%3Ccircle cx='18' cy='22' r='0.6'/%3E%3Ccircle cx='22' cy='12' r='0.6'/%3E%3Ccircle cx='26' cy='30' r='0.6'/%3E%3Ccircle cx='30' cy='8' r='0.6'/%3E%3Ccircle cx='34' cy='18' r='0.6'/%3E%3Ccircle cx='38' cy='28' r='0.6'/%3E%3Ccircle cx='42' cy='14' r='0.6'/%3E%3Ccircle cx='46' cy='36' r='0.6'/%3E%3Ccircle cx='50' cy='20' r='0.6'/%3E%3Ccircle cx='54' cy='40' r='0.6'/%3E%3Ccircle cx='58' cy='25' r='0.6'/%3E%3C/g%3E%3C/svg%3E");
}

/* vertical lines */
body::after {
  content: "";

  position: fixed;
  inset: 0;

  pointer-events: none;
  z-index: -1;

  background:

    /* LEFT OUTER */
    linear-gradient(
      to right,
      transparent 16px,
      rgba(0,0,0,0.045) 16px,
      rgba(0,0,0,0.045) 17px,
      transparent 17px
    ),

    /* LEFT INNER */
    linear-gradient(
      to right,
      transparent 24px,
      rgba(0,0,0,0.025) 24px,
      rgba(0,0,0,0.025) 25px,
      transparent 25px
    ),

    /* RIGHT OUTER */
    linear-gradient(
      to left,
      transparent 16px,
      rgba(0,0,0,0.045) 16px,
      rgba(0,0,0,0.045) 17px,
      transparent 17px
    ),

    /* RIGHT INNER */
    linear-gradient(
      to left,
      transparent 24px,
      rgba(0,0,0,0.025) 24px,
      rgba(0,0,0,0.025) 25px,
      transparent 25px
    );
}

.hero-bg {
    width: 100%;
    aspect-ratio: 16 / 9;

    background-image: url("../images/landing-page-1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
}

/* TOP BAR */
.topbar {
    position: sticky;
    top: 16px;
    z-index: 1000;

    margin: 16px;

    background: var(--color-card);

    border-radius: 8px;

    box-shadow: var(--card-shadow);

    outline: 1px solid rgba(0,0,0,0.045);
    outline-offset: -9px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 8px 16px;

    box-sizing: border-box;
}

.left {
    display: flex;
    align-items: center;
}

.logo {
    width: 175px;
    height: 40px;

    object-fit: contain;
    display: block;
}

.menu {
    width: 32px;
    height: 32px;

    display: block;
    flex-shrink: 0;
}

.lang-dropdown {
    position: relative;

    margin-left: auto;
    margin-right: 16px;
}

.lang-btn {
    border: none;
    background: transparent;

    font-size: 14px;
    font-weight: 600;

    cursor: pointer;

    border-radius: 6px;

    transition: 0.2s;
}

.lang-btn:hover {
    background: rgba(0,0,0,0.06);
}

.lang-menu {
    position: absolute;

    top: 42px;
    right: 0;

    display: none;
    flex-direction: column;

    min-width: 70px;

    background: white;

    border-radius: 8px;

    box-shadow: 0 4px 16px rgba(0,0,0,0.08);

    overflow: hidden;
}

.lang-menu div {

    cursor: pointer;

    font-size: 14px;
}

.lang-menu div:hover {
    background: rgba(0,0,0,0.05);
}

/* Show dropdown on hover */
.lang-dropdown:hover .lang-menu {
    display: flex;
}


/* TOP BACK LINK */
.hero-back {
    display: inline-block;

    font-family: "Archivo", sans-serif;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 8px;

    color: var(--color-orange);
    text-decoration: none;

}

/* HERO SECTION */
.hero {
    margin: 0px 24px 0 24px;
}

.hero-title {
    margin: 0;

    font-family: "Roca One", serif;
    font-weight: 400;

    font-size: 32px;
    line-height: 40px;

    color: var(--color-text-primary);

    letter-spacing: -0.05em;
}

.hero-subtitle {
    margin-top: 16px;

    font-family: "Archivo", sans-serif;
    font-weight: normal;

    font-size: 16px;
    line-height: 16px;

    text-transform: uppercase;

    color: var(--color-text-primary);
    
    letter-spacing: -0.05em;
}

.hero-text {
    margin-top: 16px;

    font-family: "Archivo", sans-serif;
    font-size: 16px;
    line-height: 20px;

    color: var(--color-text-primary);
}

/* CARD SECTION */
.income-section {
    margin: 8px 24px;
    padding: 16px;

    background: var(--color-card);

    border-radius: 8px;

    box-shadow: var(--card-shadow);

    box-sizing: border-box;
}

.income-section-title {
    margin: 0;

    font-family: "Archivo", sans-serif;
    font-weight: 500;

    font-size: 18px;
    line-height: 28px;

    color: var(--color-text-primary);
}

.income-divider {
    height: .5px;
    background: var(--color-card-border);
}

.income-row {
    display: flex;
    align-items: center;

    gap: 4px;
}

.income-icon {
    width: 32px;
    height: 32px;

    object-fit: contain;
    flex-shrink: 0;
}

.income-content {
    margin: 16px 0 16px 0;
    flex: 1;
    min-width: 0;
}

.income-title {
    margin: 0;
    font-family: "Archivo", sans-serif;
    font-size: 14px;
    font-weight: normal;
    line-height: 20px;

    color: var(--color-text-primary);
}

.income-description {
    margin: 0;
    font-family: "Archivo", sans-serif;
    font-size: 13px;
    line-height: 16px;

    color: var(--color-text-secondary);
}

.income-input {
    width: 80px;
    height: 32px;

    border: .5px solid var(--color-card-border);
    border-radius: 4px;

    background: var(--color-card);

    box-sizing: border-box;

    font-family: "Archivo", sans-serif;
    font-size: 16px;

    color: var(--color-text-primary);

    outline: none;

    flex-shrink: 0;
}

/* REMOVE NUMBER ARROWS */
.income-input::-webkit-outer-spin-button,
.income-input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.income-input[type="number"] {
    appearance: textfield;
}

/* BUTTON */
.btn {
    width: calc(100%);

    height: 40px;
    background-color: var(--color-orange);

    border: none;
    border-radius: 8px;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
    cursor: pointer;

    text-decoration: none; /* removes underline (for <a>) */
    color: white; /* ensures text doesn't turn blue */
}

.btn-text {
    font-family: "Roca One", serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
    color: white;
}

.btn-icon {
    width: 20px;
    height: 20px;

    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}

/* FOOTER */
.footer {
    position: relative;

    background: var(--color-card);

    border-radius: 8px;

    box-shadow: var(--card-shadow);

    outline: 1px solid rgba(0,0,0,0.045);
    outline-offset: -9px;

    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 120px 16px 16px 16px;

    padding: 24px 16px;

    box-sizing: border-box;
}

/* Logo */
.footer-logo {
    width: 242px;
    height: 28px;

    object-fit: contain;
    display: block;
}

/* Links */
.footer-links {
    display: flex;
    gap: 24px;

    margin-top: 16px;
}

.footer-links a {
    font-family: 'Archivo', sans-serif;
    font-size: 12px;
    line-height: 14px;

    color: var(--color-text-primary);
    text-decoration: none;
}

/* Social Icons */
.social-icons {
    display: flex;
    align-items: center;
    gap: 24px;
}

.social-icons img {
    margin-top: 16px;
    width: 24px;
    height: 24px;

    display: block;
}

/* Copyright */
.footer-copy {
    margin-top: 16px;

    font-family: 'Archivo', sans-serif;
    font-size: 12px;
    line-height: 14px;

    color: var(--color-text-secondary);
}