/* Fonts */
@font-face {
    font-family: 'Roca One';
    src: url('../fonts/RocaOne-Th.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Roca One';
    src: url('../fonts/RocaOne-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Roca One';
    src: url('../fonts/RocaOne-Hv.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Archivo';
    src: url('../fonts/Archivo-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* COLORS */
:root {
    /* Primary */
    --color-orange: #E84231;
    --color-pink: #FAD1D7;
    --color-green: #005451;

    /* Text */
    --color-text-primary: #1F2937;
    --color-text-secondary: #A0A7A7;
    --color-text-disabled: #CFD3D3;

    /* Card */
    --color-card: #FFFFFF;
    --color-card-border: #d9d9d9;    

}

/* BACKGROUND */
body {
  background:
    radial-gradient(circle at top left, #ffffff 0%, #f7f7f7 100%);

  font-family: 'Archivo', sans-serif;
  margin: 0;
  padding: 0;
  }

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roca One', sans-serif;
}

/* TOP BAR */
.topbar {
    position: sticky;
    top: 16px;
    z-index: 1000;

    margin: 16px;

    background: #ffffff;
    border: .5px solid var(--color-card-border);
    border-radius: 8px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 8px 16px;
}

.left {
    display: flex;
    align-items: center;
}

.logo {
    width: 175px;
    height: 40px;

    object-fit: contain;
    display: block;
}

.menu {
    width: 32px;
    height: 32px;

    display: block;
    flex-shrink: 0;
}


/* TOP BACK LINK */
.hero-back {
    display: inline-block;

    font-family: "Archivo", sans-serif;
    font-size: 12px;
    line-height: 14px;

    color: var(--color-orange);
    text-decoration: none;

    margin-bottom: 16px;
}

/* HERO SECTION */
.hero {
    margin: 16px 24px 0 24px;
}

.hero-title {
    margin: 0;

    font-family: "Roca One", serif;
    font-weight: 400;

    font-size: 24px;
    line-height: 24px;

    color: var(--color-text-primary);

    letter-spacing: -0.05em;
}

.hero-text {
    margin: 16px 0 0 0;

    font-family: "Archivo", sans-serif;
    font-size: 12px;
    line-height: 14px;

    color: var(--color-text-primary);
}

/* CARD SECTION */
.income-section {
    margin: 24px;
    padding: 16px;

    background: #ffffff;

    border: .5px solid var(--color-card-border);
    border-radius: 8px;

    box-sizing: border-box;
}

.income-section-title {
    margin: 0 0 8px 0;

    font-family: "Roca One", serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;

    color: var(--color-text-primary);
}

.income-row {
    display: flex;
    align-items: center;

    gap: 4px;
}

.income-icon {
    width: 28px;
    height: 28px;

    object-fit: contain;
    flex-shrink: 0;
}

.income-content {
    margin: 24px;
    flex: 1;
    min-width: 0;
}

.income-title {
    margin: 0;
    font-family: "Archivo", sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;

    color: var(--color-text-primary);
}

.income-description {
    margin: 0;
    font-family: "Archivo", sans-serif;
    font-size: 12px;
    line-height: 16px;

    color: var(--color-text-secondary);
}

.income-input {
    width: 96px;
    height: 32px;

    padding: 0 8px;

    border: .5px solid var(--color-card-border);
    border-radius: 4px;

    background: #ffffff;

    box-sizing: border-box;

    font-family: "Archivo", sans-serif;
    font-size: 16px;

    color: var(--color-text-primary);

    outline: none;

    flex-shrink: 0;
}

/* REMOVE NUMBER ARROWS */
.income-input::-webkit-outer-spin-button,
.income-input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.income-input[type="number"] {
    appearance: textfield;
}

/* BUTTON */
.btn {
    width: calc(100%);

    height: 40px;
    background-color: var(--color-orange);

    border: none;
    border-radius: 8px;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
    cursor: pointer;

    text-decoration: none; /* removes underline (for <a>) */
    color: white; /* ensures text doesn't turn blue */
}

.btn-text {
    font-family: "Roca One", serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
    color: white;
}

.btn-icon {
    width: 20px;
    height: 20px;

    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}

/* FOOTER */
.footer {
    background: #ffffff;

    border: .5px solid var(--color-card-border);
    border-radius: 8px;

    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 120px 16px 16px 16px;

    padding: 24px 16px;

    box-sizing: border-box;
}

/* Logo */
.footer-logo {
    width: 263px;
    height: 28.5px;

    object-fit: contain;
    display: block;
}

/* Links */
.footer-links {
    display: flex;
    gap: 24px;

    margin-top: 16px;
}

.footer-links a {
    font-family: 'Archivo', sans-serif;
    font-size: 12px;
    line-height: 14px;

    color: var(--color-text-primary);
    text-decoration: none;
}

/* Social Icons */
.social-icons {
    display: flex;
    align-items: center;
    gap: 24px;
}

.social-icons img {
    margin-top: 16px;
    width: 24px;
    height: 24px;

    display: block;
}

/* Copyright */
.footer-copy {
    margin-top: 16px;

    font-family: 'Archivo', sans-serif;
    font-size: 12px;
    line-height: 14px;

    color: var(--color-text-secondary);
}